* {
    padding:0;
    margin:0;
}

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
}

/* Links */
a {
    color: #aaa;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.stopfade { 
    opacity: .5;
}
#aboutme{
    background: #222;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}
#experience{
    background: #ddd;
}
#experience h2{
    font-size: 120%;
    font-weight: 400;
}
#skill, #contactme{
    background: #222;
    color: #fff;
}
#hero{
    padding-top: 130px;
}

.panel{
    background-color: transparent;
    padding: 50px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading{
    font-size: 120%;
    padding: 0;
}
.panel-body{
    padding: 0;
}
#photo-header{
    margin-top: -75px;
}
#photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: rgba(0,0,0,0.3);
    display: inline-block;
}
#polina { 
    background: rgba(0,0,0,0.5);
    color: white;
    height: 100%;
    padding: 0;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}
#polina button { 
    display: block;
    width: 80%;
    padding: .4rem;
    border: none; 
    margin: 1rem auto; 
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px; 
    cursor: pointer;
    transition: .3s background;
}
#polina button:hover { 
    background: rgba(0,0,0,0.5);
}
#text-header{
    margin-top: 15px;
    margin-bottom: 150px;
}

@media screen and (max-device-width: 800px) {
    html { background: url(http://demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}
